body {
    margin: 0;
    background-image: url(../gamers/bige.jpg);
}

#gameCanvas {
    border: 2px solid #0d0d0e;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    background-color: #cfbfbf;
}
#startButton {
    background-color: blue;
    color: yellow;
}